@model CatalogueViewModel

<div class="container-fluid ">
    <div class="p-2 row">
        <div class="pb-1 col-sm-3">
            <select class="form-select" id="category-selector" aria-label="Default select example">
                <option value="all" selected>All Categories</option>
                @foreach (var category in Model.Categories)
                {
                    <option value="@category.Id" data->@category.Name</option>
                }
            </select>
        </div>
        <div class="pb-1 col-sm-6 btn-group">
            <input type="checkbox" class="btn-check" id="btndiscount" autocomplete="off">
            <label class="btn btn-outline-success" for="btndiscount">Discounted</label>
            <button class="btn btn-success" id="sortasc">A-Z</button>
            <button class="btn btn-success" id="sortdesc">Z-A</button>
        </div>
        <div class="pb-1 col-sm-3">
            <input class="form-control" id="search-box" type="text" placeholder="Search..">
        </div>
    </div>
</div>
<div id="cataloguePartialView"></div>
@section Scripts{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/tinysort.js"></script>
    <script>
        $(document).ready(function () {
            getProducts();
            $('#btndiscount').change(function () {
                if (this.checked)
                {
                    filterDiscounted();
                }
                else
                {
                    if ($(`#category-selector`).val() == "all")
                    {
                        getProducts();
                    }
                    else
                    {
                        filterCategory();
                    }

                }
            });
            $('#category-selector').change(function () {
                $("#btndiscount").prop("checked", false);
                filterCategory();
            });

        });

        function getProducts() {
            $.ajax({
                url: `@Url.Action("GetProducts", "Home")`,
                datatype: `html`,
                method: `GET`,
                success: function (res) {
                    $(`#cataloguePartialView`).html(``).html(res);
                },
                error: function (err) {
                    console.log(err);
                }
            })
        }
        function filterDiscounted() {
            $.ajax({
                url: `@Url.Action("FilterDiscounted", "Home")`,
                datatype: `html`,
                method: `GET`,
                data: { categoryId: $(`#category-selector`).val() },
                success: function (res) {
                    $(`#cataloguePartialView`).html(``).html(res);
                },
                error: function (err) {
                    console.log(err);
                }
            })
        }
        function filterCategory() {
            $.ajax({
                url: `@Url.Action("FilterCategory", "Home")`,
                datatype: `html`,
                method: `GET`,
                data: { categoryId: $(`#category-selector`).val() },
                success: function (res) {
                    console.log($(`#category-selector`).val());
                    $(`#cataloguePartialView`).html(``).html(res);
                },
                error: function (err) {
                    console.log(err);
                }
            })
        }
    </script>
    <script type="text/javascript">
        $("#search-box").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#catalogue > li").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    </script>
    <script type="text/javascript">
        $('#sortasc').on('click', function () {
            tinysort('ul#catalogue>li', { attr: 'data-id', order: 'asc' });
        });
    </script>
    <script type="text/javascript">
        $('#sortdesc').on('click', function () {
            tinysort('ul#catalogue>li', { attr: 'data-id', order: 'desc' });
        });
    </script>
}
